    *{
            margin: 0;
            padding: 0;
        }
        body{
            background-image: linear-gradient(white, powderblue);
            height: 600px;
        }
        div{
            border: 2px solid black;
            height: 250px;
            width: 250px;
            margin-top: 100px;
            border-radius: 5px;
            box-shadow: 0px 5px 10px black;

        }
        p{
            padding-top: 30px;
            font-family: 'poppins',sans-serif;
            font-weight: bold;
            text-shadow: 5px 5px 5px rgb(141, 141, 169);
            transition: transform 2s ease;
        }
        p:hover{
            transform: scale(1.5);
        }
        p{
            animation: zooming 2s ease infinite;
        }
        img{
            width: 100%;
            height: 100%;

        }


        @keyframes zooming{
            from{
                transform: scale(0);
            }
            to{
                transform: scale(1.5);
            }
        }